nav.navbar.navbar-inverse(role='navagation')
	div.container-fluid
		//- 导航头
		div.navbar-header
			//- 图标
			a.navbar-brand(href='/') IMOVIE
			//- 导航按钮
			button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.xxx')
				span.icon-bar
				span.icon-bar
				span.icon-bar
		//- 导航栏
		div.collapse.navbar-collapse.xxx
			ul.nav.navbar-nav.navbar-right
				li: a(href='/') 首页
				if user 
					li: a(href='#') 欢迎你，#{user.name}
					li: a(href='/logout') 登出
				else 
					li: a(href='/#' data-toggle='modal' data-target='#signUp') 注册
					li: a(href='/#' data-toggle='modal' data-target='#signIn') 登录
			//- 搜索
			form.navbar-form.navbar-right(method='get' action='/result')
				.form-group
					input.form-control(type='text' placeholder='Search' name='movieName')
					span &nbsp;
					button.btn.btn-default(type='submit') 搜索
		//- 模态框实体
		#signUp.modal.fade
			.modal-dialog
				.modal-content
					form(method='post' action='/user/signup')
						.modal-header 注册
						.modal-body
							.form-group
								label 用户名
								input.form-control(name='name' type='text')
							.form-group
								label 密码
								input.form-control(name='password' type='text')
						.modal-footer
							button.btn.btn-default(type='button' data-dismiss='modal') 关闭
							button.btn.btn-primary(type='submit') 提交
		#signIn.modal.fade
			.modal-dialog
				.modal-content
					form(method='post' action='/user/signin')
						.modal-header 登录
						.modal-body
							.form-group
								label 用户名
								input.form-control(name='name' type='text')
							.form-group
								label 密码
								input.form-control(name='password' type='text')
						.modal-footer
							button.btn.btn-default(type='button' data-dismiss='modal') 关闭
							button.btn.btn-primary(type='submit') 提交